{% extends 'song_request/base.html' %}

{% block content %}
<div class="card-panel">
  <h1 class="header grey-text">Songliste</h1>
  <ul class="collection">

    {% for song in songs %}
    <li class="collection-item avatar">
      <i class="material-icons circle {{ song.color }}">library_music</i>
      <span class="title"><b>{{ song.name|title }}</b></span>
      <p>
        {{ song.band|title }}<br>
        {{ song.album|title }}<br>
        {{ song.year }} <br>
        gespielt: {{ song.rehearsed_count }} mal<br>
        zuletzt am: {{ song.last_played }}
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
    {% endfor %}

  </ul>
</div>

{% endblock content %}
